<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.VFeskin.collegecoursetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeCourseTracker">
        <activity
            android:name=".Controller.EditAssessment"
            android:exported="false" />
        <activity
            android:name=".Controller.EditCourse"
            android:exported="false" />
        <activity
            android:name=".Controller.EditTerm"
            android:exported="false" />
        <activity
            android:name=".Controller.DetailedAssessment"
            android:exported="false"
            android:label="Assessment Details" />
        <activity
            android:name=".Controller.DetailedCourse"
            android:exported="false"
            android:label="Course Details" />
        <activity
            android:name=".Controller.DetailedTerm"
            android:exported="false"
            android:label="Term Details" />
        <activity
            android:name=".Controller.AssessmentList"
            android:exported="false"
            android:label="List of Assessments" />
        <activity
            android:name=".Controller.CourseList"
            android:exported="false"
            android:label="List of Courses" />
        <activity
            android:name=".Controller.TermList"
            android:exported="true"
            android:label="List of Terms" />
        <activity
            android:name=".Controller.NewAssessment"
            android:exported="true"
            android:label="New Assessment" />
        <activity
            android:name=".Controller.NewCourse"
            android:exported="true"
            android:label="New Course" />
        <activity
            android:name=".Controller.NewTerm"
            android:exported="true"
            android:label="New Term" />
        <activity
            android:name=".HomeScreen"
            android:exported="true"
            android:label="Welcome Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>